<a href="https://colab.research.google.com/github/starboy007-debug/Data-Science-datasets/blob/master/Data_Science_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Issue of outliers

In [ ]:
import pandas as pd
import numpy as np

In [36]:
all_data = pd.read_csv('https://raw.githubusercontent.com/starboy007-debug/Data-Science-datasets/master/all_data.csv')
all_data.head()
all_data = all_data.dropna(how='all')

In [31]:
all_data = all_data[all_data['Order Date'].str[0:2]!='Or']
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'])
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'])

In [32]:
all_data['Sales'] = all_data['Quantity Ordered'].astype('int') * all_data['Price Each'].astype('float')
all_data

       Order ID  ...   Sales
0        176558  ...   23.90
2        176559  ...   99.99
3        176560  ...  600.00
4        176560  ...   11.99
5        176561  ...   11.99
...         ...  ...     ...
186845   259353  ...    8.97
186846   259354  ...  700.00
186847   259355  ...  700.00
186848   259356  ...  379.99
186849   259357  ...   11.95

[185950 rows x 7 columns]

In [35]:
def remove_outlier(data, col_name):
    q1 = data[col_name].quantile(0.25)
    q3 = data[col_name].quantile(0.75)
    iqr = q3-q1 #Interquartile range
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    df = data.loc[(data[col_name] > fence_low) & (data[col_name] < fence_high)]
    return df

Pearson correlation

In [13]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/starboy007-debug/Data-Science-datasets/master/pokemon_data.csv')
df.head(10)
df = df.dropna(how='all')
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [10]:
def correlation(dataset, threshold):
    col = set() # Set of all the names of deleted columns
    corr_matrix = dataset.corr()

    for i in range(len(corr_matrix.columns)):
        for j in range(i):

            if (corr_matrix.iloc[i, j] >= threshold) and (corr_matrix.columns[j] not in col):
                colname = corr_matrix.columns[i] # getting the name of column
                col.add(colname)
                
                if colname in dataset.columns:
                    del dataset[colname] # deleting the column from the dataset

    print(dataset)

x = correlation(df,0.85)

       #                   Name   Type 1  ... Sp. Def  Speed  Legendary
0      1              Bulbasaur    Grass  ...      65     45      False
1      2                Ivysaur    Grass  ...      80     60      False
2      3               Venusaur    Grass  ...     100     80      False
3      3  VenusaurMega Venusaur    Grass  ...     120     80      False
4      4             Charmander     Fire  ...      50     65      False
..   ...                    ...      ...  ...     ...    ...        ...
795  719                Diancie     Rock  ...     150     50       True
796  719    DiancieMega Diancie     Rock  ...     110    110       True
797  720    HoopaHoopa Confined  Psychic  ...     130     70       True
798  720     HoopaHoopa Unbound  Psychic  ...     130     80       True
799  721              Volcanion     Fire  ...      90     70       True

[800 rows x 11 columns]